{% load static %}

<div class='section-1-footer'>
   <div class="row align-items-end">
      <div class="col-1">
      </div>
      <div class="col-3 text-center">
        <img class='promo-icons-1' src="{% static 'img\money-icon.png' %}" alt="Ícone de dinheiro">
        <span> 
           <p class="promo-texts" >{{Promo_icon_1}} </p> 
         </span>
      </div>
      <div class="col-4 text-center">
         <img class='promo-icons-2' src="{% static 'img\frete-icon.png' %}" alt="Ícone de um caminhão">
         <span> <p class="promo-texts">{{Promo_icon_2}} </p> </span>
      </div>
      <div class="col-3 text-center">
         <img class='promo-icons-3' src="{% static 'img\seguro-icon.png' %}" alt="Ícone de um cadeado">
         <span> <p class="promo-texts">{{Promo_icon_3}}</p> </span>
      </div>
      <div class="col-1">
      </div>
    </div>
  
</div>