{% load static %}


<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-danger">
   <h3>Awer.co</h3>
   <div class="row">
      <div class="col">
         Início
      </div>
      <div class="col">
         Produtos e Serviços
      </div>
      <div class="col">
         Clientes
      </div>
      <div class="col">
         Quem somos
      </div>
   </div>
</nav> -->

<nav id="navbar-awer" class="navbar navbar-expand-lg sticky-top navbar-light bg-light shadow-sm border bg-gradient">
   <div class="container-fluid">

      <a
       class="navbar-brand fs-3 ps-4"
       href="">
       <img  class='nav-logo img-fluid' src="{% static 'img\nav-logo.png' %}" alt='Logo da barra de navegação'>
      </a>

      <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
            alt='Botão de menu hamburguer'
      >
      <span class="navbar-toggler-icon"></span>

     </button>

     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <!-- <span class='nav-subtitle ms-auto text-start pt-2'> "Colorindo o mundo desde 1996"</span> -->
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >

         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-1" aria-current="page" >Início</a>
         </li>
         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-2">Sobre nós</a>
         </li>
         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-3">Produtos e Serviços</a>
         </li>
         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-4">Parceiros</a>
         </li>
         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-5">Nossas lojas</a>
         </li>
         <li class="nav-item">
           <a class="nav-link nav-link-grow-up" href="#item-6">Compre conosco!</a>
         </li>

       </ul>
     </div>
   </div>
</nav>
