{% load static %}

  <div
    id="item-4"
    content=".container"
    class='min-vh-100
    bg-white
    bg-gradient'
  >
    {% include 'partials/menu_space.html' %}
    <section class=".container-fluid">
       
      <div class="col align-items-center partners-container mt-5">

        <div class='row text-center'>
          <h2> {{Partners_title}} </h2>
        </div>

        <!-- Primeira linha de parceiros -->
        <div class='row mb-5'>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\anjo-tintas.png' %}" alt="Logo da Anjo Tintas">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\atlas.png' %}" alt="Logo da Atlas">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\colorgin.png' %}" alt="Logo da Colorgin">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\dacar.png' %}" alt="Logo da Dacar">
            </div>
        </div>

        <!-- Segunda linha de parceiros -->
        <div class='row my-5'>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\montana.png' %}" alt="Logo da Montana">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\sayerlack.png' %}" alt="Logo da Sayerlack">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\sherwin-williams.png' %}" alt="Logo da Sherwin Williams">
            </div>
            <div class="col-6  col-sm-6 col-md-3 col-lg-3 col-xl-3">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\vedacit.png' %}" alt="Logo da Vedacit">
            </div>
        </div>

        <!-- Terceira linha de parceiros -->
        <div class='row my-5 text-center'>
            <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\suvinil.png' %}" alt="Logo da Suvinil">
            </div>
            <!-- <div class="col-6  col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <img class='rounded img-fluid' src="{% static 'img\parceiros-logo\tintas-construir.png' %}" alt="Logo da Tintas Construir">
            </div> -->
        </div>
      </div>
    </section>
  </div>  