{% load static %}

<div
    id="item-2"
    content=".container"
    class='min-vh-100
    container-2'
>
    {% include 'partials/menu_space.html' %} 

    <div class="section-2  px-5 mt-2 row align-items-center">
      
      <div class="col-12 col-lg-4 text-center">
         <iframe class='container-2-anime' src="https://embed.lottiefiles.com/animation/101271" alt='animation of a painter' >
         </iframe>
      </div>
      
      <div class="col-12 col-lg-8">

         <div class="col-12 justify-content-center">

            <div class='row'>
               <img class="container-2-logo" src="{% static 'img/lindacor-logo-2.png'%}" alt="Lindacor Tintas logo ">
            </div>

            <div id='container-2-about' class="row about-us-div">
               <h4 class="text-center my-2" >
                  {{About_us_title_1}}
               </h4>
               <p>
                  {{ About_us_text_1 }}
               </p>
            </div>

            <div id='container-2-about' class="row about-us-div">
               <h4 class="text-center my-2" >
                  {{About_us_title_2}}
               </h4>
               <p>
                  {{About_us_text_2}}
               </p>
            </div>

         </div>
      </div>

   </div>

</div>  